#notice, ._stdout {color: green}
._stderr {color: red}
._stdin {font-weight: bold; margin-top: 1em}
footer {text-align: center}
footer ul {list-style-type: none; padding: 0}
a {color: #000}
.shell {border: 1px solid black;  border-radius: 1em; margin: 0 25%}
.private {background-color: #CCC; border: 1px solid #444; color: #000}
.error {background-color: #F88}

/* row colors */
.blank      {background-color: #DDD !important}
.missing    {background-color: #F88 !important}
.rejected   {background-color: #F88 !important}
.ready      {background-color: #FC8 !important}
.available  {background-color: #BFB !important}
.reviewed   {background-color: #8F8 !important}
.commented  {background-color: #FE0 !important}

.navbar-brand.blank {background-color: rgba(221, 221, 221, 0.7) !important}
.navbar-brand.missing {background-color: rgba(255, 136, 136, 0.7) !important}
.navbar-brand.rejected {background-color: rgba(255, 136, 136, 0.7) !important}
.navbar-brand.ready {background-color: rgba(255, 204, 136, 0.7) !important}
.navbar-brand.available {background-color: rgba(187, 255, 187, 0.7) !important}
.navbar-brand.reviewed {background-color: rgba(187, 255, 187, 0.7) !important}
.navbar-brand.commented {background-color: rgba(255, 221, 102, 0.7) !important}

.pres-missing {color: #F00}

/* sidebar */
aside {float: right} 
aside ul {margin: 0}
aside li {list-style: none}

/* new item type */
ul.new-item-type {margin: 0}
.new-item-type li {list-style: none}
.new-item-type .btn {margin: 0.2em; min-width: 12em}

/* next/back links */
.backlink {float: left; min-width: 9em}
.nextlink {float: right; min-width: 9em}
.nextarea {float: right; min-width: 9em}
.backlink:before {content: "<< "}
.nextlink:after  {content: " >>"}

/* action items */
.ai {background-color: yellow}

/* agenda item special notes */
.notes {
  background-color: #FF4; 
  padding: 0.3em 1em; 
  margin: 1em 1em 0 1em;
  font-weight: bold;
  border: 1px solid SkyBlue;
  border-radius: 1em;
}

.rejected {
  background-color: #F88; 
  padding: 0.3em 1em; 
  margin: 1em 1em 0 1em;
  font-weight: bold;
  border: 1px solid SkyBlue;
  border-radius: 1em;
}

/* posted_reports */
.posted-reports {
  list-style: none;
  background-color: #90EE90; 
  padding: 0.3em 1em; 
  margin: 1em 1em 0 1em;
  font-weight: bold;
  border: 1px solid SkyBlue;
  border-radius: 1em;
}

/* make the header an eye catcher */
h1, h2.subtitle {
  line-height: 2em;
  text-align: center;
  text-transform: capitalize;
  clear: both
}

/* make flagged item owner info smaller */
h3 span.owner {
  font-size: medium;
}

/* block links */
a.h3, a.h4 {
  display: block;
}

/* center the table */
table.agenda {
  margin-left: auto;
  margin-right: auto
}

table.agenda td:first-child {
  text-align: center
}

.buttons {
  margin-top: 1em;
  text-align: center
}

.buttons div, .buttons form {
  display: inline
}

form label {
  display: block; margin-top: 0.5em
}

#comment_popup label {
  display: inline;
}

#comment_popup input {
  margin-bottom: 0.5em;
}

pre.report {
  padding-left: 2em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

main {
  margin: 50px 0;
}

main pre, #vote-form pre {
  font-family: monospace;
  color: #000;
}

pre a {
  color: #008;
}

pre#approved {
  padding: 10px;
}

input[type=submit] {
  border-radius: 1em;
  background-color: #FFC;
}

.checkbox input[type=checkbox] {
  position: static;
  display: inline;
  width: auto;
  height: auto;
  margin-left: 0;
}

label.checkbox span {
  padding-left: 0.5em;
  font-weight: normal;
}

#role input[type=radio] {
  margin-left: 1.6em;
}

.uptodate {
  background-color: #7cfc00 !important
}

.stale {
  background-color: #dc143c !important
}

.comment {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 0.1;
  padding-left: 2em;
}

.shepherd button {
  margin-left: 1em;
  margin-top: 10px;
}

.comments button, #paste_report { 
  color: #000; 
  background-color: #F90; 
  border-radius: 0.5em
}

#paste_popup, #comment_popup {
  display: none
}

#paste_popup textarea {
  font-family: monospace;
  font-size: small
}

.nav .dl-horizontal dt {
  width: 7em
}

.nav .dl-horizontal dd {
  margin-left: 8em;
  width: 14em
}

.nav .online li {
  padding-left: 1em;
}

pre {
  background-color: #FFF;
  border: none;
}

pre.feedback {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-left: 2em;
}

footer .btn {
  margin-top: 7px;
  height: 100%;
  vertical-align: middle
}

.modal {
  overflow-y: initial !important;
}

.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}

.modal-body {
  background-color: white;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content {
  text-align: left;
}

body {
  overflow-y: scroll
}

#clock {
  position: absolute;
}

.navbar-fixed-top .label-danger {
  margin-top: 1em
}

.navbar-fixed-top .label-danger a {
  padding: 0.3em
}

main hr {
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
}

.table-bordered {
  width: 100%;
}

.table-bordered tr {
  line-height: 200%;
}

.table-bordered td {
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .wide-form .modal-dialog {
    width: 80%;
  }
  .wide-form .modal-footer {
    margin-top: 0  
  }
  .table-bordered {
    width: auto;
  }
}

#new-actions pre {
  margin-bottom: 0
}

#new-actions a {
  margin-left: 6em 
}

footer button {
  margin: 0 2px;
}

.search {padding-top: 1em}
.hilite {background-color: #FF6}

#search-text {
  margin-left: 0.5em;
  width: 95%;
}

#minute-comments {
  max-height: 9em;
  overflow: auto;
}

.reminder button {
  margin-left: 2em;
  margin-bottom: 1em;
}

.flexbox .report-info {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexbox > section {
    justify-content: flex-start;
    min-width: 48%;
  }

  .flexbox > section + section {
    max-width: 48%;
    overflow-x: auto;
  }

  .flexbox .report-info {
    display: block;
  }

  .flexbox .report-info .dl-horizontal {
    margin-left: -3em;
  }
}

/* Make dropdowns have the right cursor */
li.dropdown #nav.dropdown-toggle {
  cursor: pointer;
}

li.dropdown table {
  padding: 0.5em;
}

li.dropdown table tr td:first-of-type {
  text-align: right;
  min-width: 2em;
}

li.dropdown table tr td:last-of-type {
  min-width: 11em;
}

li.dropdown table td {
  padding: 0 0.4em;
}

@media only screen and (max-height: 600px) {
  .navbar-fixed-top {
    z-index: 1050
  }

  .modal {
    z-index: 1060
  }

  .dropdown-menu {
    height: auto;
    max-height: 90vh;
    overflow-x: hidden;
  }
}

/* Identify clickable sections by changing the cursor */
.clickable {
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
}

footer a {
  min-width: 9em;
}

footer span {
  flex-grow: 1;
  margin: auto;
  text-align: center;
}

footer span input {
  width: 95%
}

h5.chatlog {
  padding-left: 2em;
  color: #A4A;
}

/* compact definition list (backchannel) */
dl.chatlog {
  padding: 0.5em;
  margin-bottom: 0;
}

dl.chatlog dt {
  float: left;
  clear: left;
  width: 8em;
  text-align: right;
  font-weight: bold;
  color: green;
}

dl.chatlog dt.info {
  font-weight: normal;
  font-style: italic;
}

dl.chatlog dd.topic {
  background-color: yellow;
}

dl.chatlog dt:after {
  content: ":";
  font-style: normal;
  font-weight: bold;
}

dl.chatlog dt.info:after {
  content: "";
}

dl.chatlog dd {
  padding: 0 1em 0 8.5em;
}

dl.chatlog dd.info {
  font-style: italic;
}

.chatlog .mention {
  font-weight: bold;
  color: #F00;
}

#rollcall ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#rollcall li {
  display: flex;
  height: 30px;
}

#rollcall ul li input[type=checkbox] {
  margin: 0 0.7em 0 1.4em;
}

#rollcall ul li input[type=text] {
  display: none;
}

#rollcall ul li:hover label:after {
  margin: 0 0.3em 0 0.2em;
  font-weight: normal;
  content: '-';
}

#rollcall ul li:hover input[type=text] {
  display: inline-block;
  margin-bottom: 10px;
}

#rollcall ul li:hover span {
  display: none;
}

#rollcall ul input.walkon {
  margin-left: 3em;
}

ul.checklist {
  list-style-type: none;
  padding-left: 1.5em; 
}

.checklist input[type=checkbox] {
  margin-right: 0.5em;
}


button.checklist {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

h5.history {
  margin-left: 1em;
}

input[type=file]#upload {
  display: inline-block;
  margin-right: 1em;
}

#post-report-text {
  font-family: monospace
}

/* podling name search */
.pns {
  float: left;
  font-size: 24px;
  padding-top: 5px;
}

/* post a new agenda */
#new-agenda .text-center {
  margin: 1em;
}

#new-agenda textarea {
  font-family: monospace;
  overflow: hidden;
}

#email-form input {
  display: inline;
  width: 80%;
  padding-right: 5px;
  padding-left: 5px;
}

.reminder .modal-content button {
  margin-left: 0.5em;
  margin-bottom: 0em;
}

.secrets li {
  margin-right: 5em;
}

#new-agenda textarea {
  margin-bottom: 1em;
}
