body {
  padding: 0 15px;
}

img.logo {
  width: 60px;
  float: left;
  margin-right: 10px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  float: left;
  margin-right: 5px;
}

a.list-group-item.alert-success, .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
}

a.list-group-item.alert-info, .alert-info {
  color: #31708f;
  background-color: #d9edf7;
}

a.list-group-item.alert-warning, .alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

a.list-group-item.alert-danger, .alert-danger {
  background-color: #f2dede;
  color: #a94442;
}

a.list-group-item.alert-fatal, .alert-fatal {
  background-color: #ff0000;
  color: #FFFFFF;
}

.status-legend {
  border-spacing: 0.5em;
  border-collapse: separate;
}

.status-legend td {
  padding: 5px;
}
