header h1, header h3 {
  margin-top: 0;
}

#index table {
  margin-left: 8px;
}

#index td:nth-child(2), #index th:nth-child(2) {
  padding-right: 7px;
  padding-left: 7px;
}

#index button {
  margin: 5px;
}

.selected {
  background-color: yellow;
}

.emeritusPending {
  background-color: none;
}

.emeritusReady {
  background-color: greenyellow;
}

.signature {
  background-color: #FC0;
}

.dragging {
  opacity: 0.5;
}

.drop-target {
  border: 2px solid green;
  border-radius: 1em;
  padding: 0.5em;
}

.deleted {
  opacity: 0.5;
}

.doctype label {
  display: block
}

.doctype input[type=radio] {
  width: 3em
}

#parts h4 {
  padding: 10px 1em;
  background-color: #d9e9f7;
}

table.form {
  width: 100%;
  margin-left: 1em;
  margin-top: 2em;
}

.form input, .form textarea, .form select {
  width: 100%;
  font-family: monospace;
}

.form input:invalid, .form select:invalid, .form textarea:invalid {
  border: 1px solid red;
}

.form th {
  max-width: 4em;
  height: 2.5em;
  font-weight: normal;
}

form .btn {
  display: block;
  margin: auto;
  margin-top: 0.5em;
}

#attachments li.attachment {
  width: 100%
}

div.buttons {
  text-align: center;
  margin: 1em 0;
}

.contextMenu {
  position: absolute;
  z-index: 9999999;
  border: solid 1px #CCC;
  background: #EEE;
  padding: 0px;
  margin: 0px;
  display: none;
  background-repeat: no-repeat;
}

ul.contextMenu {
  padding: 8px 0;
}

ul#editPart {
  padding: 0 1.5em;
}

.contextMenu li {
  list-style: none;
  padding: 0 8px;
  margin: 0;
}

#editPart li {
  list-style: none;
  padding: 8;
  margin: 16px 0;
}

.contextMenu li:hover, #editPart li:hover {
  background-color: #1E90FF;
  color: white;
  cursor: pointer;
}

.busy, .busy input, .busy input:disabled, .busy .contextMenu li:hover {
  cursor: wait;
}

.contextMenu a {
  color: #333;
  text-decoration: none;
  display: block;
  line-height: 20px;
  height: 20px;
  background-position: 6px center;
  background-repeat: no-repeat;
  outline: none;
  padding: 1px 5px;
  padding-left: 28px;
}

.divider {
  height: 2px;
  width:100%;
  margin: 9px 0;
  padding: 0 4px;
  background-color: #ccc;
  }

.spinner {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

#partmail h3 {
  margin-top: 10px;
}

#partmail button {
  display: block;
  margin-top: 15px;
}

#partmail textarea {
  height: 7em;
  width: 100%;
}

pre.bg-info {
  white-space: pre-wrap;
  word-break: normal;
}

#tasklist input, #tasklist textarea {
  width: 100%;
}

#parts table {
  margin-top: 14px; 
}

ul.icla-search {
  padding: 0;
  margin-left: 1em;
}

ul.icla-search li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.icla-search input[type=radio] {
  margin-right: 10px;
}

ul.icla-reject li {
  list-style: none;
  padding: 0;
  margin: 0;
}
