<!DOCTYPE html>
<html>
  <head>
    <title>ICLA Demo</title>
  </head>

  <body>
    <form method="post" action="/answer">
      <label for="name">What is your name?</label>
      <input id="name" name="name">
      <input type="submit">
    </form>
  </body>
</html>
