<!DOCTYPE html>
<html>
  <head>
    <title>ICLA Demo</title>
  </head>

  <body>
    <form method="post" action="/answer">
      <label>What is your name?
        <input name="name">
      </label>

      <input type="submit">
    </form>
  </body>
</html>
