#notice, ._stdout {color: green}
._stderr {color: red}
._stdin {font-weight: bold; margin-top: 1em}
footer {text-align: center}
footer ul {list-style-type: none; padding: 0}
a {color: #000}
.shell {border: 1px solid black;  border-radius: 1em; margin: 0 25%}
.private {background-color: #CCC; border: 1px solid #444; color: #000}

/* row colors */
.blank      {background-color: #DDD !important}
.missing    {background-color: #F88 !important}
.rejected   {background-color: #F88 !important}
.ready      {background-color: #FC8 !important}
.available  {background-color: #BFB !important}
.reviewed   {background-color: #8F8 !important}
.commented  {background-color: #FD6 !important}

.pres-missing {color: #F00}

/* sidebar */
aside {float: right} 
aside ul {margin: 0}
aside li {list-style: none}

/* next/back links */
.backlink {float: left; min-width: 9em}
.nextlink {float: right; min-width: 9em}
.backlink:before {content: "<< "}
.nextlink:after  {content: " >>"}

/* action items */
.ai {background-color: yellow}

/* make the header an eye catcher */
h1, h2.subtitle {
  line-height: 2em;
  text-align: center;
  text-transform: capitalize;
  clear: both
}

/* center the table */
table {
  margin-left: auto;
  margin-right: auto
}

td:first-child {
  text-align: center
}

.buttons {
  margin-top: 1em;
  text-align: center
}

.buttons div, .buttons form {
  display: inline
}

form label {
  display: block; margin-top: 0.5em
}

#comment_popup label {
  display: inline;
}

#comment_popup input {
  margin-bottom: 0.5em;
}

pre.report {
  padding-left: 2em;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

main {
  margin: 50px 0;
}

main pre {
  font-family: monospace;
  color: #000;
}

pre a {
  color: #008;
}

pre#approved {
  padding: 10px;
}

input[type=submit] {
  border-radius: 1em;
  background-color: #FFC;
}

.uptodate {
  background-color: #7cfc00 !important
}

.stale {
  background-color: #dc143c !important
}

.comment {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0.1;
  padding-left: 2em;
}

.comments button, #paste_report { 
  color: #000; 
  background-color: #F90; 
  border-radius: 0.5em
}

#paste_popup, #comment_popup {
  display: none
}

#paste_popup textarea {
  font-family: monospace;
  font-size: small
}

.nav .dl-horizontal dt {
  width: 7em
}

.nav .dl-horizontal dd {
  margin-left: 8em;
  width: 14em
}

pre {
  background-color: #FFF;
  border: none
}

footer .btn {
  margin-top: 7px;
  height: 100%;
  vertical-align: middle
}

.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}

.modal-body {
  background-color: white;
}

.modal-content {
  text-align: left;
}

body {
  overflow-y: scroll
}

#clock {
  position: absolute;
}

.navbar-fixed-top .label-danger {
  margin-top: 1em
}

.navbar-fixed-top .label-danger a {
  padding: 0.3em
}

main hr {
  border-style: solid;
  border-width: 1px;
  border-color: #DDD;
}

@media screen and (min-width: 768px) {
  .wide-form .modal-dialog {
    width: 80%;
  }
  .wide-form .modal-footer {
    margin-top: 0  
  }
}

#new-actions pre {
  margin-bottom: 0
}

#new-actions a {
  margin-left: 6em 
}

footer button {
  margin: 0 2px;
}

.search {padding-top: 1em}
.hilite {background-color: #FF6}

#search-text {
  margin-left: 0.5em;
  width: 95%;
}

#minute-comments {
  max-height: 9em;
  overflow: auto;
}

.reminder button {
  margin-left: 3em;
}

@media only screen and (min-width: 1200px) {
  .flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .flexbox > section {
    justify-content: flex-start;
    min-width: 48%;
  }
}

/* Make dropdowns have the right cursor */
li.dropdown #nav.dropdown-toggle {
  cursor: pointer;
}

/* Identify clickable sections by changing the cursor */
.clickable {
  cursor: pointer;
}
