input:invalid, textarea:invalid, select:invalid {
  border-color: red !important
}

input:valid, textarea:valid, select:valid {
  border-color: green
}

footer.bg-primary {
  background-color: #303284
}

.modal-backdrop.in {
  opacity: 0.5
}

pre.draft {
  color: #000
}
