# See also tools/collate_minutes.rb:name_changes()
RedirectMatch ^/board/minutes/stdcxx(\.html)?$         /board/minutes/Cxx_Standard_Library.html
RedirectMatch ^/board/minutes/comdev(\.html)?$         /board/minutes/Community_Development.html
RedirectMatch ^/board/minutes/DLab\.html$              /board/minutes/DataLab.html
RedirectMatch ^/board/minutes/empire-db(\.html)?$      /board/minutes/Empire_db.html
RedirectMatch ^/board/minutes/httpd(\.html)?$          /board/minutes/HTTP_Server.html
RedirectMatch ^/board/minutes/logging(\.html)?$        /board/minutes/Logging_Services.html
RedirectMatch ^/board/minutes/lucenenet(\.html)?$      /board/minutes/Lucene_Net.html
RedirectMatch ^/board/minutes/climate(\.html)?$        /board/minutes/Open_Climate_Workbench.html
RedirectMatch ^/board/minutes/apr(\.html)?$            /board/minutes/Portable_Runtime__APR_.html
RedirectMatch ^/board/minutes/quetz(\.html)?$          /board/minutes/Quetzalcoatl.html
RedirectMatch ^/board/minutes/trafficcontrol(\.html)?$ /board/minutes/Traffic_Control.html
RedirectMatch ^/board/minutes/trafficserver(\.html)?$  /board/minutes/Traffic_Server.html
RedirectMatch ^/board/minutes/ws(\.html)?$             /board/minutes/Web_Services.html
RedirectMatch ^/board/minutes/xmlgraphics(\.html)?$    /board/minutes/XML_Graphics.html
RedirectMatch ^/board/minutes/Chairman(\.html)?$       /board/minutes/Board_Chair.html
RedirectMatch ^/board/minutes/Vice_Chairman(\.html)?$  /board/minutes/Vice_Chair.html
RedirectMatch ^/board/minutes/Acting_Chairman(\.html)?$ /board/minutes/Acting_Chair.html
