body {margin: 10px 33px}
h1 .note, h2 .note {font-size: small}
h1 small {font-weight: normal; font-size: medium}
h1 img {float:right; height: 2em}
.alert {clear: both}
h2 {margin-bottom: 0}
h4 {margin-left: 1em}
div.value ul {margin: 0; padding: 0; list-style: none}
div.value {border-spacing: 0}
.counts td:first-child {text-align: right}
.wide td:first-child {text-align: right; padding: 0}
.wide td:first-child:after {content: ' —'}
.wide td:last-child {border-left: solid 1px #000; padding: 0 0.5em}
table {margin-top: 0.5em}
td, th {padding-left: 0.5em; padding-right: 0.5em}
.issue:before, .chair:before {content: '\21d0  '}
.issue, .not-found {color: red; font-weight:bold} 
.chair {color: green; font-weight:bold} 
.member {font-weight: bold}
.editable td:first-child {color: blue}
.podlingWarning{color: red; font-weight: bold}
.podlingWarning > a{color: red; font-weight: bold}

.status {font-weight: bold; float: left; color: green}

thead:hover th.sorting-desc:after {content: ' \25bc'}
thead:hover th.sorting-asc:after {content: ' \25b2'}

td .hint {display: none}
td:hover .hint {
  position: absolute; display: block; background-color: #FFF;
  padding: 1em; border: 2px solid #0F0; border-radius: 1em;
  color: black; font-weight: normal}

.list-none {list-style-type: none; padding-left: 1.5em; margin-top: 0.5em}

.breadcrumbs {padding: 10px 20px}

label {margin-right: 8px}

button.btn {margin: 0 8px}

.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px
}

.search-box {
  margin: -20px 0 40px 40px;
}

#main > span > ul {
  margin-top: 1em;
}

pre.wide {padding: 0 8px; width: 60em; overflow-x: hidden; margin: 6px 0}
pre.wide:hover {overflow-x: scroll}

form.inline {display: inline}
form.inline div label {min-width: 7em; text-align: right}
form.inline div input {min-width: 20em}
form.inline button {height: 2em; margin-left: 2em; padding:0px 5px}
form.inline textarea {height: 20em; width: 60em}

input:disabled[type=submit] {cursor: not-allowed}

.modal textarea {width: 100%; height: 30em}

.row {display: flex; align-items: center; margin: 1em 0}
.row .name {text-align: right; padding-right: 0; min-width: 20%}
.row .name:after {content: '\00A0\2014'; margin-right: -2px}
.row .value {border-left: solid 1px #000; padding: 0 0.5em}

#graduate p {
  margin-top: 1em
}

.clickable {cursor: pointer}

.modal p {
  clear: both;
}

.modal label {
  margin-top: 1em;
}

.modal label input[type=checkbox] {
  margin-right: 10px;
  margin-left: 15px;
}

.data-entry > .form-group {
  padding-top: 2em;
  clear: both;
}

@media screen and (min-width: 768px) {
  .wide-form .modal-dialog {
    width: 80%;
  }
  .wide-form .modal-footer {
    margin-top: 0
  }
}

